
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>计算器</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="calc.css">
    <script src="../js/response.js"></script>
    <script src="../js/vue.min.js"></script>
</head>
<body>
    <div id="box">
        <header>

        </header>
        <ul>
            <li @click="selectItem()">计算方式<span>按贷款总额</span><img src="img/arrows.png"/></li>
            <li class="price">贷款总额<input/><span>万</span></li>
            <li @click="selectItem()">贷款年限<span>按照贷款总额</span><img src="img/arrows.png"/></li>
            <li @click="selectItem()">贷款利率<span>按照贷款总额</span><img src="img/arrows.png"/></li>
        </ul>
        <button class="computer">开始计算</button>
        <p class="tips">贷款利率仅供计算使用,实际交易利率折扣由银行评估</p>
        <div class="shadow" v-if="isCancel" @click="selectItem()"></div>
        <transition name="slide-fade">
            <div class="dialog" v-if="isCancel">
                <div class="title">计算方式<span @click="cancel">取消</span></div>
                <ul>
                    <li v-for="item in 5">2</li>
                </ul>
            </div>
        </transition>
    </div>
    <script>
        var vm = new Vue({
            el: '#box',
            data:{
                isCancel: false
            },
            methods:{
                cancel() {
                    this.isCancel = false;
                },
                selectItem() {
                    this.isCancel = true;
                }
            }
        }) 
    </script>
</body>
</html>