
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=on" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>购房指南</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/mescroll.min.css">
    <link rel="stylesheet" href="./css/guideHand.css">
    
</head>
<body>
    <div id="box">
        <nav>
            <ul class="menu">
                <li v-for="(item,index) in menudata" 
                    :class="selectNum==index?'bgColor':''"
                    @click="selectItem(index)">{{item.name}}</li>
            </ul>
        </nav>
        <section>
            <div id="mescroll" class="mescroll">
                <ul id="dataList" class="list">
                    <li v-for="(item,index) in pdlist.infoContentList" @click="detialh5page(index)">
                        <div class="content">
                            <p>{{item.title}}</p>
                            <p class="time">{{item.publishDateTime|timefilter}}</p>
                        </div>
                        <img :src="item.imageUrl">
                    </li>
                </ul> 
            </div>
        </section>
    </div>
    <script src="../js/response.js"></script>
    <script src="../js/axios.min.js"></script>
    <script src="../js/axiosurl.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="../js/mescroll.min.js"></script>
    <script>
        var vm = new Vue({
            el: '#box',
            data:{
                mescroll: null,
                menudata: ['准备买房','看房/选房','签约/订房','全款/贷款','缴税/过户','入住/交接'],
                pdlist: [],
                pdlist2: [],
                selectNum: 0,
                urlparams: null,
                page: 1,
                city: 'beihai'
            },
            mounted(){
				//解析: 下拉回调默认调用mescroll.resetUpScroll(); 而resetUpScroll会将page.num=1,再执行up.callback,从而实现刷新列表数据为第一页;
				var self = this;
				self.mescroll = new MeScroll("mescroll", { //请至少在vue的mounted生命周期初始化mescroll,以确保您配置的id能够被找到
					up: {
						callback: self.upCallback, //上拉回调
						isBounce: false, //此处禁止ios回弹,解析(务必认真阅读,特别是最后一点): http://www.mescroll.com/qa.html#q10
						empty:{ //配置列表无任何数据的提示
							warpId:"dataList",
							icon : "imgs/imgs.jpg" , 
						  	tip : "亲,暂无相关数据哦~" , 
						  	btntext : "去逛逛 >" , 
						  	btnClick : function() {
						  		alert("点击了去逛逛按钮");
						  	} 
						}
					}
				});
            },
            filters:{
            	timefilter(val){
            		var time;
            		var diff = (new Date().getTime() - val)/1000;
			        var h = diff/3600;//小时
			        var hours = parseInt(h);
			        var m = (h - hours)*60;//分钟
			        var minute = parseInt(m);
			        var s = (m - minute)*60;//秒
			        var second = parseInt(s);
			        var day = (h/24)>0? parseInt(h/24): 0;
			        if(day==0){
		          	  time = hours + '小时' + minute + '分前';
			      	}else{
			          time = day + '天' + hours + '小时前';
			        }
			      	return time
            	}
            },
            methods:{
                selectItem(index) {
                    this.selectNum = index;
                    this.page = 1;
                    this.pdlist = this.pdlist2[index];    
                    this.upCallback();                
                },
                titleDataRequest() {
                    axios.get(GUIDEHAND,{
                        headers:{'Content-Type': "application/json;charset=UTF-8",'scity': city}
                    })
                    .then((res) => {
                        console.log(res);
                    })
                },
                detialh5page(index) {
                    var url = this.pdlist.infoContentList[index].contentUrl;
                    var params = this.parseUrl(url);
                    location.href="../detailpage/guideDetail.html?id="+params.id;
                },
				upCallback() {
                    let city = this.city;
                    let page = this.page++;
                    let index = this.selectNum;
                    this.guideDataRequest(page, city, index);
					// 	//更新列表数据
					// 	self.pdlist = self.pdlist.concat(curPageData);
					// 	//方法一(推荐): 后台接口有返回列表的总页数 totalPage
					// 	//self.mescroll.endByPage(curPageData.length, totalPage); //必传参数(当前页的数据个数, 总页数)
						
					// 	//方法二(推荐): 后台接口有返回列表的总数据量 totalSize
					// 	//self.mescroll.endBySize(curPageData.length, totalSize); //必传参数(当前页的数据个数, 总数据量)
						
					// 	//方法三(推荐): 您有其他方式知道是否有下一页 hasNext
					// 	//self.mescroll.endSuccess(curPageData.length, hasNext); //必传参数(当前页的数据个数, 是否有下一页true/false)
						
					// 	//方法四 (不推荐),会存在一个小问题:比如列表共有20条数据,每页加载10条,共2页.如果只根据当前页的数据个数判断,则需翻到第三页才会知道无更多数据,如果传了hasNext,则翻到第二页即可显示无更多数据.
					// 	self.mescroll.endSuccess(curPageData.length);
                },
                guideDataRequest(page, city, selectNum) {
                    axios.get(GUIDEHAND,{
                        headers:{'Content-Type': "application/json;charset=UTF-8",'scity': city}
                    })
                    .then((res) => {
                        var arr = res.data.data;
                        this.menudata = arr;
                        this.pdlist = arr[selectNum];
                        this.pdlist2 = arr;
                        this.mescroll.endErr();
                    })
                    .catch(err=>{
                        this.mescroll.endErr();
                    })
                },
                parseUrl(url) {
                    var urlStr=url.split("?")[1].split("&");
                    var urlparams = {};
                    for( let i=0;i<urlStr.length;i++){
                        var item = urlStr[i].split("=")
                        urlparams[item[0]]=item[1]
                    }
                    return urlparams;
                }
            }
        }) 
    </script>
</body>
</html>