* {
        margin: 0;
        padding: 0;
        line-height: 1;
}

#title {
        width: 100%;
        height: 0.9rem;
        text-align: center;
        line-height: 0.9rem;
        border-bottom: 0.005rem solid #e6e6e6;
        position: fixed;
        top: 0;
        font-size: 0.4rem;
        left: 0;
        background:#ffffff;
}

#title>img {
        height: 0.36rem;
        position: fixed;
        left: 0.24rem;
        top: 0.25rem;
}

.contentimg {
        width: 5.85rem;
        height: 2.53rem;
        margin: auto;
        margin-top: 1.17rem;
        /* background: url("../imgs/titleimg.png"); */
        background-size: cover;
}
.contentimg>img{
        width:100%;
        height:100%;
}
.div_class_1 {
        width: 100%;
        margin-top: 0.3rem;
        border-bottom: 0.05rem solid #e6e6e6;
        position: relative;
}

.div_class_1>p {
        margin: 0 0.24rem;
}

.div_class_1>P:nth-of-type(1) {
        font-size: 0.32rem;
        color: #222222;
        margin-bottom: 0.14rem;
}

.div_class_1>P:nth-of-type(2) {
        font-size: 0.26rem;
        color: #666666;
        margin-bottom: 0.10rem;
}

.div_class_1>P:nth-of-type(3) {
        font-size: 0.2rem;
        color: #666666;
        margin-bottom: 0.1rem;
}

.div_class_1>img {
        position: absolute;
        width: 1.45rem;
        right: 0.24rem;
        top: 0.2rem;
}

#ul_1 {
        margin: 0 0.24rem;
        list-style: none;
        padding-bottom:1rem;
}

#ul_1>li {
        width: 100%;
        border-bottom: 0.005rem solid #e6e6e6;
}

#ul_1>li>div:nth-of-type(1) {
        font-size: 0.32rem;
        margin-top: 0.3rem;
        margin-bottom: 0.2rem;
        font-weight: bold;
}

#ul_1>li>div:nth-of-type(2) {
        font-size: 0.26rem;
        line-height: 1.4;
        margin-bottom: 0.26rem;
}
#ul_1>li:nth-last-of-type(1){
        border:none;
}
.contentimg>p{
        margin-left:0.75rem;
        color:#fdffd8;
}
.contentimg>p:nth-of-type(1){
        padding-top:0.7rem;
        font-size:0.38rem;
        margin-bottom:0.4rem;
}
.contentimg>p:nth-of-type(1)>span{
        font-size:0.48rem;
}
.contentimg>p:nth-of-type(2){
        font-size:0.24rem;
        margin-bottom:0.16rem;
}
.contentimg>p:nth-of-type(3){
        font-size:0.2rem;
}
#btn_ul{
        width:100%;
        height:1rem;
        position: fixed;
        bottom:0;
        left:0;
        list-style: none;
}
#btn_ul>li{
        height:100%;
        width:50%;
        float:left;
        text-align: center;
}
#btn_ul>li:nth-of-type(1){
        background:#ffffff;
        border-top:0.005rem solid #e6e6e6;
        box-sizing: border-box;
}
#btn_ul>li:nth-of-type(1)>p:nth-of-type(1){
        font-size:0.34rem;
        background:#ffffff;
        color:#ff4343;
        margin-top:0.26rem;
}
#btn_ul>li:nth-of-type(1)>p:nth-of-type(2){
        font-size:0.2rem;
        color:#999999;
        margin-top:0.12rem;
}
#btn_ul>li:nth-of-type(2){
        line-height: 1rem;
        font-size:0.32rem;
        background:#ff4343;
        color:#ffffff;
}